settings.json
node_modules/
build/*
temp_*/
tmp_*/
dev-app-update.yml
.clinerules
.DS_Store
*.bak
*.tmp
*.swp
.cursor/
build/*
dev
assets/flash/backups/*
Docs
UsernameLogger
.claude
Multi-Client-Feature.md